%section{"ng-show" => "!enabled"}
  .row
    .small-12.columns.text-center
      %h3.pad-top
        = t :checkout_headline
  .row.pad-top{ "data-controller": "login-modal" }
    - if guest_checkout_allowed?
      .text-center
        %a{:href => "#{ENV["JUMP_AFRICA_APP_URL"]}/signin", :target => "_blank"}
          %button.primary
            = t :label_login
    - else
      .small-6.columns.small-centered
        %button.primary.expand{ "data-action": "click->login-modal#call" }
          = t :label_login
