// all the custom changes will be here

// *********************
// common classes
.bd-filter-1 {
    backdrop-filter: blur(1px);
}

// ********************************************
// homepage 

#tagline {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// .brand-story-pane {
//     background-color: #008cd1 !important;
// }

// .system-pane {
//     .system-pane_child {
//         h2 {
//             color: #008cd1 !important;
//         } 
//         .home-icon-box {
//             a {

//                 background-color:#008cd1 !important;
//             }
//         }  
//     }
// }