// Styling for brand intro / tagline on homepage

#tagline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";

    @include fullbg;

    background-color: $ofn-grey;
    //background-image: url("../../images/home/home.jpg");
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    // Use vh units for new browsers - fixed issue 1253
    height: 100vh;
  }

  h1 {
    

    

    img {
      max-width: 140px;

      @media all and (min-width: 768px) {
        max-width: 130px;
      }

      margin-bottom: 1rem;

      @media all and (min-width: 768px) {
        margin-bottom: 1rem;
      }
    }
  }
}
