- content_for(:title) do
  Africa's #1 eCommerce Platform | Jump Africa
- content_for(:description) do
  Looking to start selling online in Africa? Look no further than Jump Africa. We are the leading eCommerce platform in the region, and we can help you get your business up and running in no time. Visit our website today to learn more!
- content_for(:meta_description) do
  Looking to start selling online in Africa? Look no further than Jump Africa. We are the leading eCommerce platform in the region, and we can help you get your business up and running in no time. Visit our website today to learn more!
  
#brand-story.pane.brand-story-pane
  .row
    .small-12.medium-8.medium-offset-2.columns.text-center
      %h2
        Trade in Africa made Easy
      #pd-none.container-fluid.supporting-countries
        .container.countries.supported-country-list
          %h4
            Countries Supported
          %ul.country-list
            %li{"data-country" => "Nigeria"}
              %img{src: image_pack_path("flags/nigeria.svg") }
            %li{"data-country" => "Kenya"}
              %img{src: image_pack_path("flags/kenya.svg") }
            %li{"data-country" => "Ghana"}
              %img{src: image_pack_path("flags/ghana.svg") }
            %li{"data-country" => "South Africa"}
              %img{src: image_pack_path("flags/south-africa.svg") }
            %li{"data-country" => "United States"}
              %img{src: image_pack_path("flags/united-states.svg") }
            %li{"data-country" => "United Kingdom"}
              %img{src: image_pack_path("flags/united-kingdom.svg") }
            %li{"data-country" => "European Union"}
              %img{src: image_pack_path("flags/european.svg") }
      %p
        Shopping for groceries can be a confusing process, especially if you're not sure where your food comes from or how it was produced. The delivery service we offer removes all of that uncertainty by providing transparency in exchange-based transactions and fair prices across different regions in Africa and around the world!

      #brand-story-text.hide-show.slideable
        %p
          In a world where supermarkets have been primarily controlled by huge corporations for decades now, local farmers and vendors want to take back their power. They are tired of the big grocery chains that put them in positions where they can't succeed on price or quality alone; it's time we level the playing field - this includes you! 
        %p
          %strong
            So why not turn those transactions into transformations? 
        %p
          We built a platform that levels the playing field. It’s transparent, so it creates real relationships and connections between people who need food and products now more than ever before - even if they live in different regions or countries! The open source nature means no one person has control over what gets done; instead any individual can join and contribute towards improving this system as well-which will be crucial when faced with increasing demands on resources such as water & energy while also fighting food scarcity and global warming...

      %a.text-vbig{"slide-toggle" => "#brand-story-text", "ng-click" => "toggleBrandStory()"}
        %i.ofn-i_005-caret-down{"ng-hide" => "brandStoryExpanded"}
        %i.ofn-i_006-caret-up{  "ng-show" => "brandStoryExpanded"}
