.home-hero-section
  #tagline
    .row
      .small-12.text-center.columns.bd-filter-1
        %h1
          %img{src: image_pack_path("logo-white-notext1.png"), title: Spree::Config.site_name}
          %br/
          %a.button.transparent{href: "/shops"}
            = t :home_shop

:javascript
    //dynamic and random background images
  (function newTagline() {
    var image_arr = [
      '1',
      '2',
      '3',
      '4',
    ];
    var randomImg = Math.floor(Math.random() * image_arr.length);
    console.log(randomImg);
    $('#tagline').css("background-image", "url(./default_images/home-random-images/"+(randomImg+1)+".jpg)");

  })();