.quick_links_header
    %h4.quick_link_title
        %a{ href: "#", title: "Quick Navigate" }
            Quick Navigate
    .quick_link_items
        %a.link-block{ href: "/shops"}
            %img{ src: "/expand.png" }
            %span Shop
        %a.link-block{ href: "/map"}
            %img{ src: "/expand.png" }
            %span Map
        %a.link-block{ href: "/producers"}
            %img{ src: "/expand.png" }
            %span Producers
        %a.link-block{ href: "/groups"}
            %img{ src: "/expand.png" }
            %span Groups
        %a.link-block{ href: "#"}
            %img{ src: "/expand.png" }
            %span Find Services
