
:css
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    body {
        font-family: "poppinsmedium", Arial, sans-serif;
    }
    a.soc-btn, .email-link a, p.footer-links, p.footer-links a, .powered-by-ofn a, .callout a {
        font-size: 18px;
        color: #008cd1;
    }
    a.soc-btn {
        text-decoration: none;
        margin-left: 6px;
    }